
body {
            mian_width: 480px;
            mian_color: #189fd8;
            radius: 90px;
            info_color: #eaeaea;
            font_color: #676767;
          }
     

 button {
            border: none;
            padding: 10px;
            border-radius: 10px;
            box-shadow: none;
          }

 div{
        
        margin-top: 10px
 }

  input {
            border: none;
            padding: 10px;
            border-radius: 10px;
            box-shadow: none;
          }
